.player {
  grid-area: player;
  background-color: var(--bg-co);
  display: flex;
}
.player-adjust {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.player-controls div {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--pri-co);
  cursor: pointer;
  z-index: 5;
}
.player-controls div:hover {
  animation: scaleOut 0.5s linear;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.player-controls .play-icon:hover {
  animation: rotate 1s linear;
}
/* duration */
.player-timer {
  margin-bottom: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.player-timer input[type="range"] {
  width: 100%;
  accent-color: var(--text-co);
}
.player-timer span {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-co);
}

/* music display */
.music-display div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.music-display img {
  rotate: 0deg;
  margin-top: 1vh;
  width: 15vw;
  z-index: 6;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-color: var(--text-co);
  animation: xoayVong 10s linear infinite;
}

.music-display h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-co);
}
.music-display div.music-name {
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--text-co);
}
.music-display div.music-author {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-co);
}

.song-info {
  position: absolute;
  left: 1%;
  top: 2%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.song-info img {
  width: 10%;
  border-radius: 9px;
}
.song-info .song-title {
  /* margin: 2rem 0 0 1rem; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.song-info .song-title .song-name {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-co);
}
.song-info .song-title .song-artist {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--bri-co);
}
.volume-adjust {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 1%;
  top: 25%;
}

.volume-adjust img {
  width: 5rem;
  padding: 1rem;
  background-color: var(--pri-co);
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: 0.3s ease;
}
.volume-adjust img:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.volume-adjust input#volume-change[type="range"] {
  accent-color: var(--text-co);
  border: 1px solid var(--text-co);
}
.volume-adjust input[type="range"]:hover {
  accent-color: var(--text-co);
  border: 1px solid var(--text-co);
}
