/* index */

/* laptop */
@media screen and (max-width: 1366px) {
  .f-container a.direct {
    max-width: 8vh;
    max-height: 8vh;
    padding: 0;
  }
  img.avatar-display {
    display: inline-flex;
    max-width: 8vh;
    max-height: 8vh;
  }
  section.content {
    grid-template-columns: repeat(3, 1fr);
  }
  div.player {
    height: 15vh;
  }
}
/* tablet width 768 */
@media screen and (max-width: 768px) {
  main {
    grid-template-areas:
      "aside section section section section"
      "aside section section section section"
      "aside section section section section"
      "player player player player player" !important;
  }
  .require-reg h2,
  .require-reg a {
    font-size: 1.7rem !important;
  }

  .player-adjust {
    scale: 0.8;
    height: 15vh;
  }
  .music-display div {
    display: none !important;
  }
  .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .content .album-title {
    line-break: anywhere;
  }
  ul.songs {
    gap: 2rem !important;
  }
  .f-container a.direct {
    max-width: 6vh;
    max-height: 6vh;
    padding: 0;
  }
  img.avatar-display {
    position: absolute;
    top: 20%;
    right: 5%;
    display: inline-flex;
    max-width: 6vh;
    max-height: 6vh;
  }
  section.content {
    grid-template-columns: repeat(3, 23vw);
    width: 80vw;
  }
  .songs-adjust {
    scale: 0.65;
    max-width: 45vw;
    width: 45vw;
  }
  .songs-adjust ul {
    width: 100%;
  }
  .playlist-list {
    scale: 0.65;
    max-width: 50vw;
  }
}

@media screen and (max-width: 705px) {
  .player-adjust .player-controls,
  .player-adjust .player-timer {
    position: absolute;
    left: 2%;
  }
  .player-controls,
  .volume-adjust {
    scale: 0.8;
  }
  .player-controls {
    top: 8%;
  }
  .player-timer {
    bottom: 5%;
  }
  .volume-adjust {
    right: 15%;
    top: 8%;
  }
  .song-info {
    position: absolute;
    left: 0;
    top: -75%;
    background-color: var(--bg-co);
    padding: 1.2rem 2rem;
    border: 1px solid var(--pri-co);
  }
}

/* phone with 425 */
@media screen and (max-width: 426px) {
  body {
    width: 360px !important;
  }
  .f-container a.home-direct {
    display: none !important;
  }
  img.avatar-display {
    right: 13%;
  }
  .search-bar {
    width: 20rem !important;
    right: 5%;
  }
  .search-bar input[type="text"] {
    width: 10rem !important;
  }
  .notice {
    width: 40vw !important;
    height: 30vh !important;
  }
  .notice p {
    font-size: 1.6rem;
  }
  .notice p.small {
    font-size: 1rem !important;
  }
  .notice button {
    scale: 0.8;
  }
  section.content {
    grid-template-columns: repeat(1, 1fr) !important;
    height: 55vh;
  }
  section.content div.song-card {
    width: 60vw;
  }
  div.songs-adjust {
    scale: 0.7;
    width: 50vw;
  }
  .songs-adjust ul {
    width: 80%;
  }
  .songs-adjust ul li {
    width: 100%;
  }
  .player {
    margin-bottom: 25%;
    display: flex;
  }
  .player-adjust .player-controls,
  .player-adjust .player-timer {
    position: absolute;
    left: 2%;
  }
  .player-controls,
  .volume-adjust {
    scale: 0.8;
  }
  .player-controls {
    top: 8%;
  }
  .player-timer {
    bottom: 5%;
  }
  .volume-adjust {
    right: 15%;
    top: 8%;
  }
  .song-info {
    position: absolute;
    left: 0;
    top: -50%;
    background-color: var(--bg-co);
    padding: 1.2rem 2rem;
    border: 1px solid var(--pri-co);
  }
  form.playlist-form h2.playlist-title {
    font-size: 1.4rem !important;
  }
  form.playlist-form .text-inputs {
    gap: 0.5rem !important;
    margin-top: 1rem !important;
  }
  form.playlist-form input[type="text"] {
    width: 15rem !important;
    height: 2rem !important;
  }
  form.playlist-form .color-inputs {
    scale: 0.6 !important;
  }
  /* form.playlist-form .color-inputs .color {
    scale: 0.8 !important;
  } */
  @media screen and (max-height: 740px) {
    .player {
      margin-top: 20%;
    }
  }
}

@media screen and (max-width: 320px) {
  .f-container a.direct {
    max-width: 5vh;
    max-height: 5vh;
    padding: 0;
  }
  img.avatar-display {
    display: inline-flex;
    max-width: 5vh;
    max-height: 5vh;
  }
  .search-bar {
    scale: 0.8;
  }
  section.content {
    grid-template-columns: repeat(1, 1fr);
  }
  div.player {
    height: 15vh;
  }
  .content {
    max-height: 65vh;
    height: 65vh;
  }
  .volume-adjust {
    right: 4%;
    top: 8%;
  }
}
