@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Oswald:wght@200..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
[data-theme="light"] {
  --bg-co: #213448;
  --pri-co: #547792;
  --sec-co: #94b4c1;
  --bri-co: #ecefca;
  --text-co: #d8ce97;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--bri-co);
  color: var(--bg-co);
}
html {
  font-size: 62.5%;
  font-family: "Shantell Sans";
}
body {
  background-color: var(--bg-co);
}
.hidden {
  display: none !important;
}
.green {
  color: green !important;
}
.bold {
  font-weight: 700 !important;
}
.invisible {
  visibility: hidden !important;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.notice {
  border-radius: 9px;
  width: 30vw;
  font-size: 3.6rem;
  z-index: 8;
  background-color: #fff;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notice p.notice-text {
  font-family: "Oswald";
  width: 100%;
  line-height: 1.1;
}
.notice p.notice-text.small {
  font-family: "Montserrat";
  font-size: 1.8rem;
}
.notice span.remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
}
.notice button.remove {
  border: 1px solid var(--sec-co);
  color: #fff;
  border-radius: 9px;
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: var(--pri-co);
  transition: all 0.3s ease;
}
.notice button.remove:hover {
  background-color: #fff;
  color: var(--pri-co);
}
header {
  width: 100vw;
  height: 10vh;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  border-bottom: #2c7ea7 1px solid;
}
nav.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
header nav.navbar h1#web-main-title {
  display: flex;
  position: absolute;
  left: 0%;
}
header nav.navbar h1#web-main-title img {
  width: 50%;
}
header nav.navbar .functional {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  right: 0%;
  width: max-content;
  /* left: 20%; */
}
.functional a.direct,
.functional .search-bar {
  display: inline-flex;
}
header nav.navbar .functional a.direct {
  width: 8rem;
  height: 8rem;
  background-color: var(--sec-co);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
header nav.navbar .functional a.direct img {
  width: 50%;
}
header nav.navbar .functional a.direct:hover {
  animation: rotate 1s ease-in-out;
}
.search-bar img {
  width: 10%;
  display: inline-flex;
}
/* search bar styles */
.search-bar {
  position: relative;
  width: 30rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.search-bar input[type="text"] {
  height: 6rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 2rem;
  color: var(--text-co);
  background-color: transparent;
  padding: 0 1rem;
}
.search-bar input[type="text"]::placeholder {
  color: var(--text-co);
}
.search-bar input[type="text"]::-moz-input-placeholder {
  color: var(--text-co);
}
.search-bar input[type="text"]::-webkit-input-placeholder {
  color: var(--text-co);
}
/* avatar styles */
.avatar-display {
  position: absolute;
  top: 0;
  right: 2%;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.avatar-display:hover {
  animation: rotate 1s ease-in-out;
}
div.account-info-display {
  z-index: 2 !important;
  position: fixed;
  transform: translateY(-90%);
  top: 0%;
  right: 2%;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: var(--sec-co);
  display: flex;
  align-items: center;
  justify-content: center;
}
#acc-display {
  font-size: 1.5rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--sec-co);
  color: var(--bg-co);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 9%;
  left: 87%;
}
.reg-direct {
  font-size: 1.9rem;
  color: var(--bg-co);
  text-decoration: none;
  font-weight: 700;
}
ul.account-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
  justify-content: center;
  z-index: 2 !important;
  height: 100%;
}
ul.account-info li span.remove {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: 700 !important;
  position: absolute;
  top: 8%;
  right: 8%;
  font-size: 3.6rem;
  cursor: pointer;
}
ul.account-info li {
  color: #fff !important;
  font-size: 2rem;
  cursor: default;
}

ul.account-info li[onclick="handleSignOut()"] {
  cursor: pointer;
  text-decoration: underline !important;
  font-weight: 700;
}

ul.account-info li[onclick="handleSignOut()"]:hover {
  color: var(--bg-co) !important;
}
/* main */
